*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

.slider-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slider-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.btns{
    position: fixed;
    bottom: 20px;
    width: 100%;

    text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: rgb(39, 172, 196);
    cursor: pointer;
}
